<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" href="/public/css/profile.css"/>
        <link rel="shortcut icon" type="image/x-icon" href="/public/images/favicon.ico">
        <script src="https://kit.fontawesome.com/2c8fdca004.js" crossorigin="anonymous"></script>
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    </head>
    
    <!-----------------include the header----------------------->
    <%- include('header.ejs')%>
    <!---------------------------------------------------------->

    <body>
    <!--creation profile form-->
    <h1>Create a profile</h1><br><br>
    <form class="addProfile" action="/createProfile" method="POST">
    <fieldset>
        <legend>Your information</legend>

        <label>Nickname</label>
        <input type="text" name="nickname" placeholder="Nickname">
        <br>

        <label>First name</label>
        <input type="text" name="firstname" placeholder="First name">
        <br>

        <label>Last name</label>
        <input type="text" name="lastname" placeholder="Last name">
        <br>

        <label>What country do you live in?</label>
        <select name="country"> 
            <option value="Belgium">Belgium</option> 
            <option value="Bulgaria">Bulgaria</option>
            <option value="Croatia">Croatia</option>
            <option value="Denmark">Denmark</option>
            <option value="France">France</option>
            <option value="Germany">Germany</option>
            <option value="Greece">Greece</option>
            <option value="Hungary">Hungary</option>
            <option value="Italy">Italy</option>
            <option value="Ireland">Ireland</option>
        </select>
        <br>

        <label>Your favorite genre</label>
        <select name="musical_genre">
            <option value="Rock">Rock</option> 
            <option value="Rap">Rap</option>
            <option value="RnB">RnB</option>
            <option value="Classical">Classical</option>
            <option value="Blues">Blues</option>
            <option value="Reggae">Reggae</option>
            <option value="Jazz">Jazz</option>
            <option value="EDM">EDM</option>
        </select>
        <br>

        <label>Your instrument</label>
        <select name="instrument">
            <option value="Guitar">Guitar</option> 
            <option value="Bass">Bass</option>
            <option value="Drum">Drum</option>
            <option value="Piano">Piano</option>
            <option value="Violin">Violin</option>
            <option value="Trumpet">Trumpet</option>
        </select>
        <br>

    </fieldset>

    <input type="submit" name="createProfileButton" class="createProfileButton" value="Create your profile"> 

    </form>

    </body>


    <!-----------------include the header----------------------->
    <%- include('footer.ejs')%>
    <!---------------------------------------------------------->

</html>