<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" href="/public/css/footer.css"/>
        <link rel="shortcut icon" type="image/x-icon" href="/public/images/favicon.ico">
        <script src="https://kit.fontawesome.com/2c8fdca004.js" crossorigin="anonymous"></script>
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    </head>

    <footer>
        <div id="footer">
            <p>Rue de Charleroi 9, 1400 Nivelles<br>
            067 20 44 32<br>
            E-mail :<a href="mailto:nathan.bataille02@gmail.com">contact@sound56.com</a></p>
            <a href="https://www.facebook.com/nathan.bataille.3" ><i class="fab fa-facebook-square"></a></i>
            <a href="https://www.instagram.com/batache_2507/"><i class="fab fa-instagram-square"></a></i>
            <a href="https://twitter.com/Batache_2507" ><i class="fab fa-twitter-square"></a></i>        
            <p><strong>© Copyright Sound 56 - Tous droits réservés - Site créé par Nathan Bataille</strong></p>
    </div>
    </footer>

</html>
