<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" href="/public/header.css"/>
        <link rel="shortcut icon" type="image/x-icon" href="/public/images/favicon.ico">
        <script src="https://kit.fontawesome.com/2c8fdca004.js" crossorigin="anonymous"></script>
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    </head>

    <header>
        


            <nav class="menu">
                <div class="inner_menu">
                    <div class="m-left">
                        <div class="logo"><a href="homepage.ejs"><img src="/public/images/Sound56_logo.jpg" alt="Sound 56's logo"/></a></div>
                    </div>
                    <div class="m-right">
                        <a href="" class="m-link"><i class="fas fa-home"></i> Homepage</a>
                        <a href="" class="m-link"><i class="fas fa-user"></i> My Profile</a>
                        <a href="" class="m-link"><i class="fas fa-cogs"></i></i> Settings</a>
                       
                    </div>
                    <div class="m-nav-toggle">
                        <span class="m-toggle-icon"></span>
                    </div>
                </div>
            </nav>
        
        </header>
  

    </html>