<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" href="/public/homepage.css"/>
        <title>Sound 56</title>
    </head>
    
    <!--include the header-->
    <%- include('header.ejs')%>

    <body>
        <p>
            Bienvenue sur le site Sound 56 ! <br>
            Sound 56 vous permet de vous créer un profil, d'y ajouter vos centres d'intérêts et vos goûts musicaux, et finalement d'acheter les morceaux qui vous plaisent.
        </p>

    </body>

    <!--include footer-->
    <%- include('footer.ejs')%>

</html>
