<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" href="/public/css/profile.css"/>
        <link rel="shortcut icon" type="image/x-icon" href="/public/images/favicon.ico">
        <script src="https://kit.fontawesome.com/2c8fdca004.js" crossorigin="anonymous"></script>
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    </head>
    
    <!-----------------include the header----------------------->
    <%- include('header.ejs')%>
    <!---------------------------------------------------------->


<body>
    <h1>Your profile</h1> 
    <h2>Here is your musical compositions</h2>
    
    <h2>Here is the instruments you like/play</h2>

    <%= user.nickname %> 
<form action="/addSong" method="POST">
        <input type="text" name="title" placeholder="Title "/>
        <input type="text" name="duration" placeholder="Duration in seconds"/>
        <input type="submit" value="Add song"/>
        <input type="hidden" value="<%= user.id %>" name="user_id"/>
    </form>

</body>

    <!-----------------include the footer----------------------->
    <%- include('footer.ejs')%>
    <!---------------------------------------------------------->

</html>