<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" href="/public/css/settings.css"/>
        <link rel="shortcut icon" type="image/x-icon" href="/public/images/favicon.ico">
        <script src="https://kit.fontawesome.com/2c8fdca004.js" crossorigin="anonymous"></script>
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    </head>
    
    <!-----------------include the header----------------------->
    <%- include('header.ejs')%>
    <!---------------------------------------------------------->

    <body>
    <!--settings form-->
    <h1>Your settings</h1>   
    <form>
        <label>Your favorite music genres are:</label>
        <!--menu déroulant-->
        <!--do a if, and display 'you don't have any at the moment if none selected-->
        <br>

        <label>Your instruments are:</label>
        <!--do a if, and display 'you don't have any at the moment if none selected-->
    </form>

    </body>

    <!-----------------include the footer----------------------->
    <%- include('footer.ejs')%>
    <!---------------------------------------------------------->

</html>