* {
    font-family: 'Roboto', sans-serif,'Arial';
  }

  h1 {
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 0.2em;
    font-style: italic;
    text-align: center;
  }

  .form {
      text-align: center;
  }

  .button {
        background-color: white; 
        border: 2px solid black;
        color: black;
        padding: 16px 32px;
        text-align: center;
        text-decoration: none;
        font-size: 16px;
        margin: 4px 2px;
        transition-duration: 0.4s;
        cursor: pointer;  
      }
      .button:hover { 
        background-color: black;
        color: white;
      }

