/******************************************GENERAL******************************************/
* {
    font-family: 'Roboto', sans-serif,'Arial';
  }

  h1 {
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 0.2em;
    font-style: italic;
    text-align: center;
  }
  h2 {
    text-transform: uppercase;
    font-size: 17px;
    letter-spacing: 0.2em;
    font-style: italic;
    text-align: center;
  }
  p {
    text-align: center;
    padding-left: 250px;
    padding-right: 250px;
  }

/******************************************WHATCANIDO******************************************/
 .conteneur { /*Aligne les éléments du banner côte à côte*/
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
}
.conteneur p {
  width: 100px;
}
#valeurs {
  overflow:hidden;
  background-color: #8125bc;
  margin: 0;
  padding: 0;
}
.element1 img /*bannière page d'accueil 3 images ont la même taille*/
  {
  padding-left: 265px;
  width: 70px;
}
.element2 img /*bannière page d'accueil 3 images ont la même taille*/
  {
  padding-left: 265px;
  width: 65px;
}
.element3 img /*bannière page d'accueil 3 images ont la même taille*/
  {
  padding-left: 270px;
  width: 62px;
} 

/*WHATCANIDO reponsive not working*/
/*.flex-container {
  display: flex;
  flex-wrap: wrap;
}
.flex-item-left {
  width: 300px;
}
.flex-item-center {
  width: 300px;
}
.flex-item-right {
  width: 300px;
}
.img {
  width:auto;
}*/

/******************************************BUTTON******************************************/
.button {
  background-color: white; 
  border: 2px solid black;
  color: black;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;  
}
.button:hover { 
  background-color: black;
  color: white;
}
/*center the button to create a profile*/
.centerButton {
  display: flex;
  flex-direction: row;
  justify-content: center;
}