/******************************************GENERAL******************************************/
* {
    font-family: 'Roboto', sans-serif,'Arial';
  }

/******************************************NAVBAR******************************************/
  .inner_menu {
    width: 80%;
    margin: auto;
  }
  .menu {
    background-color: #f5f5f5;
    width: 100%; 
    height: 80px;
    margin-bottom: 60px;
    line-height: 70px;
  }
  .m-left {
    float: left;
  }
  .logo{
    margin: 0;
    padding: 0;
    width:138px;
    height:72px;
    box-shadow:5px 5px 2px grey; 
  }
  .m-right {
    float: right;
  }
  .m-link {
    text-decoration: none;
    letter-spacing: 0.1em;
    color: black;
    text-transform: uppercase;
    font-weight: 700;
    padding: 0;
    margin: 0 15px;
    padding-top: 7px;
    transition: all 0.3s ease-in-out;
    border-bottom: 4px solid transparent;
    display: inline-block;
    height: 68px;
  
  }
  .m-link:hover{
    border-color: black;
  
  }
  .m-link i {
    margin-right: 5px;
  }
/******************************************************************************************/

